{% extends 'index.html' %} {% load static %} {% block title %} Expense Tracker
{% endblock %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/dashboard.css' %}"
/>
{% endblock %} {% block body %}
<div id="container" class="container-fluid">
  <div class="summary-wrapper row">
    <h1 id="title" class="title">Dashboard</h1>
    <div class="date-range">
      <span>Start: <input id="start-date" type="date" /></span>
      <span>End: <input id="end-date" type="date" /></span>
      <button id="submit-btn" class="btn btn-primary">Submit</button>
    </div>
  </div>
  <div class="summary row">
    {{ summary|json_script:"summary" }}
    <div class="col-4 summary-blk">
      <div class="summary-child gain-blk">
        <p class="summary-title">Total Income</p>
        <p class="summary-label"><i class="fa-solid fa-coins"></i></p>
        <p class="summary-value">
          <span id="total-income-amt">0</span> (<span id="total-income-made"
            >0</span
          >
          times)
        </p>
        <p class="summary-value">Max: <span id="max-income-source"></span></p>
      </div>
    </div>
    <div class="col-4 summary-blk">
      <div class="summary-child loss-blk">
        <p class="summary-title">Total Expense</p>
        <p class="summary-label">
          <i class="fa-solid fa-money-bill-wave"></i>
        </p>
        <p class="summary-value">
          <span id="total-expense-amt">0</span> (<span id="total-expense-made"
            >0</span
          >
          times)
        </p>
        <div class="summary-value">
          Max:
          <p id="max-purchased-source"></p>
        </div>
      </div>
    </div>
    <div class="col-4 summary-blk">
      <div class="summary-child loss-blk">
        <p class="summary-title">Net Profit / Loss:</p>
        <p class="summary-label">
          <i class="fa-solid fa-wallet"></i>
        </p>
        <p class="summary-value">
          <span id="total-profit-amt">0</span>
        </p>
      </div>
    </div>
  </div>

  <div class="chart-container row gx-4">
    {{ monthly_expense|json_script:"monthly_expense" }}
    <div id="expense-bar-chart" class="chart col col-sm-12 col-md-6">
      <p id="expense-bar-chart-error" class="chart-error">No data to show.</p>
    </div>

    {{ monthly_income|json_script:"monthly_income" }}
    <div id="income-bar-chart" class="chart col col-sm-12 col-md-6">
      <p id="income-bar-chart-error" class="chart-error">No data to show.</p>
    </div>

    {{ monthly_expense_source|json_script:"monthly_expense_source" }}
    <div class="chart col col-sm-12 col-md-6">
      <select id="expense_source_list"></select>
      <div id="expense-pie-chart">
        <p id="expense-pie-chart-error" class="chart-error">No data to show.</p>
      </div>
    </div>

    {{ monthly_income_source|json_script:"monthly_income_source" }}
    <div class="chart col col-sm-12 col-md-6">
      <select id="income_source_list"></select>
      <div id="income-pie-chart">
        <p id="income-pie-chart-error" class="chart-error">No data to show.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block js %}
<!-- Libraries -->
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>

<!-- Font Awesome -->
<script
  src="{%  static 'js/fontawesome/fontawesome.js' %}"
  type="module"
></script>
<script src="{%  static 'js/fontawesome/brands.js' %}" type="module"></script>
<script src="{%  static 'js/fontawesome/regular.js' %}" type="module"></script>
<script src="{%  static 'js/fontawesome/solid.js' %}" type="module"></script>

<!-- Bar Chart -->
<script src="{%  static 'js/bar-chart/index.js' %}" type="module"></script>
<script src="{%  static 'js/bar-chart/axisBottom.js' %}" type="module"></script>
<script src="{%  static 'js/bar-chart/axisLeft.js' %}" type="module"></script>
<script src="{%  static 'js/bar-chart/marks.js' %}" type="module"></script>

<!-- Pie Chart -->
<script src="{%  static 'js/pie-chart/index.js' %}" type="module"></script>
<script src="{%  static 'js/pie-chart/arcs.js' %}" type="module"></script>

<!-- Summary -->
<script type="module">
  // Summary
  const summary_data = JSON.parse(
    document.getElementById("summary").textContent
  );
  document.getElementById("total-income-amt").innerText =
    "$" + `${summary_data["total_income"] ? summary_data["total_income"] : 0}`;
  document.getElementById("total-income-made").innerText =
    summary_data["income_count"];
  document.getElementById("total-expense-amt").innerText =
    "$" +
    `${summary_data["total_expense"] ? summary_data["total_expense"] : 0}`;
  document.getElementById("total-expense-made").innerText =
    summary_data["expense_count"];

  const { count: eCount, items: eItems } = summary_data["max_expense"];
  const eItems_str = eItems.join(", ");
  document.getElementById("max-purchased-source").innerText = `${eCount} ${
    eCount > 1 ? "times" : "time"
  } (${eItems_str ? eItems_str : ""})`;

  const { count: iCount, items: iItems } = summary_data["max_income"];
  const iItems_str = iItems.join(", ");
  document.getElementById("max-income-source").innerText = `${iCount} ${
    iCount > 1 ? "times" : "time"
  }  (${iItems_str ? iItems_str : ""})`;

  const difference =
    summary_data["total_income"] - summary_data["total_expense"];
  console.log("=== difference ===", difference);
  if (difference < 0) {
    document
      .getElementById("total-profit-amt")
      .parentNode.parentNode.classList.remove("gain-blk");
    document
      .getElementById("total-profit-amt")
      .parentNode.parentNode.classList.add("loss-blk");
    document.getElementById("total-profit-amt").innerText = difference
      .toFixed(2)
      .toString()
      .replace("-", "- $");
  } else {
    document
      .getElementById("total-profit-amt")
      .parentNode.parentNode.classList.remove("loss-blk");
    document
      .getElementById("total-profit-amt")
      .parentNode.parentNode.classList.add("gain-blk");
    document.getElementById("total-profit-amt").innerText =
      "+ $" + difference.toFixed(2);
  }
</script>

<!-- Date Range -->
<script type="module">
  // Date Range
  const urlParams = new URLSearchParams(window.location.search);
  let start_date = urlParams.get("start_date");
  let end_date = urlParams.get("end_date");

  if (start_date && end_date) {
    start_date = moment(start_date).format("DD MMM, YY");
    end_date = moment(end_date).format("DD MMM, YY");
  } else {
    start_date = moment().startOf("month").format("DD MMM, YY");
    end_date = moment().format("DD MMM, YY");
  }

  document.getElementById(
    "title"
  ).innerText = `Dashboard (${start_date} - ${end_date})`;

  document.getElementById("submit-btn").addEventListener("click", (e) => {
    const startDate = document.getElementById("start-date").value;
    const endDate = document.getElementById("end-date").value;

    if (!startDate || !endDate) {
      alert("Please select start date and end date!");
      return;
    }

    if (new Date(endDate) < new Date(startDate)) {
      alert("Selected end date must be later than start date!");
      return;
    }

    const diffInDays = moment(endDate).diff(moment(startDate), "days", true);
    console.log("Days in diff:", diffInDays);

    if (diffInDays > 31) {
      alert("Please select dates less than or equal to 31 days!");
      return;
    }

    window.location.replace(
      `/dashboard?start_date=${startDate}&&end_date=${endDate}`
    );
  });
</script>

<!-- Monthly Expense -->
<script type="module">
  import { BarChart } from "/static/js/bar-chart/index.js";

  const expense_data = JSON.parse(
    document.getElementById("monthly_expense").textContent
  );
  document.getElementById("expense-bar-chart").innerHTML = "";
  if (expense_data.length > 0) {
    BarChart(
      expense_data,
      "#expense-bar-chart",
      window.innerWidth / 2 - 50,
      400,
      "totalExpense",
      "expenseTypeName",
      "Expense"
    );
  } else {
    document.getElementById("expense-bar-chart").innerHTML =
      "<p class='chart-error'>No data to show for monthly expense.</p>";
  }
</script>

<!-- Monthly Expense By Source -->
<script type="module">
  import { PieChart } from "/static/js/pie-chart/index.js";

  const expense_data_by_source = JSON.parse(
    document.getElementById("monthly_expense_source").textContent
  );
  document.getElementById("expense-pie-chart").innerHTML = "";
  if (Object.keys(expense_data_by_source).length > 0) {
    document.getElementById("expense_source_list").classList.remove("hide");
    const sourceKeys = Object.keys(expense_data_by_source);
    const sourceOptionElement = document.getElementById("expense_source_list");
    sourceKeys.forEach((key) => {
      const option = document.createElement("option");
      option.text = key;
      option.value = key;
      sourceOptionElement.appendChild(option);
    });
    sourceOptionElement.addEventListener("change", (e) => {
      document.getElementById("expense-pie-chart").innerHTML = "";
      PieChart(
        expense_data_by_source[e.target.value],
        "#expense-pie-chart",
        window.innerWidth / 2 - 50,
        400,
        Object.keys(expense_data_by_source[e.target.value]),
        "Expense Details"
      );
    });

    PieChart(
      expense_data_by_source[sourceKeys[0]],
      "#expense-pie-chart",
      window.innerWidth / 2 - 50,
      400,
      Object.keys(expense_data_by_source[sourceKeys[0]]),
      "Expense Details"
    );
  } else {
    document.getElementById("expense_source_list").classList.add("hide");
    document.getElementById("expense-pie-chart").innerHTML =
      "<p class='chart-error'>No data to show for monthly expense by source.</p>";
  }
</script>

<!-- Monthly Income By Source -->
<script type="module">
  import { PieChart } from "/static/js/pie-chart/index.js";

  const income_data_by_source = JSON.parse(
    document.getElementById("monthly_income_source").textContent
  );
  document.getElementById("income-pie-chart").innerHTML = "";
  if (Object.keys(income_data_by_source).length > 0) {
    document.getElementById("income_source_list").classList.remove("hide");
    const sourceKeys = Object.keys(income_data_by_source);
    const sourceOptionElement = document.getElementById("income_source_list");
    sourceKeys.forEach((key) => {
      const option = document.createElement("option");
      option.text = key;
      option.value = key;
      sourceOptionElement.appendChild(option);
    });
    sourceOptionElement.addEventListener("change", (e) => {
      document.getElementById("income-pie-chart").innerHTML = "";
      PieChart(
        income_data_by_source[e.target.value],
        "#income-pie-chart",
        window.innerWidth / 2 - 50,
        400,
        Object.keys(income_data_by_source[e.target.value]),
        "Income Details"
      );
    });

    PieChart(
      income_data_by_source[sourceKeys[0]],
      "#income-pie-chart",
      window.innerWidth / 2 - 50,
      400,
      Object.keys(income_data_by_source[sourceKeys[0]]),
      "Income Details"
    );
  } else {
    document.getElementById("income_source_list").classList.add("hide");
    document.getElementById("income-pie-chart").innerHTML =
      "<p class='chart-error'>No data to show for monthly income by source.</p>";
  }
</script>

<!-- Monthly Income -->
<script type="module">
  import { BarChart } from "/static/js/bar-chart/index.js";

  const income_data = JSON.parse(
    document.getElementById("monthly_income").textContent
  );
  document.getElementById("income-bar-chart").innerHTML = "";
  if (income_data.length > 0) {
    BarChart(
      income_data,
      "#income-bar-chart",
      window.innerWidth / 2 - 50,
      400,
      "totalIncome",
      "incomeTypeName",
      "Income"
    );
  } else {
    document.getElementById("income-bar-chart").innerHTML =
      "<p class='chart-error'>No data to show for monthly income.</p>";
  }
</script>
{% endblock %}
